.btn-regular{
    height: 40px;
    border-radius: 30px;
    width: 100px;
    border: none;
    background-color: rgb(255, 75, 75);
    color: white;
   
}
.btn-regular:hover{
    height: 40px;
    border-radius: 30px;
    width: 100px;
    border: none;
    background-color: rgb(255, 75, 75);
    color: white;
   
}
.btn-regular:focus{
    outline: none;
    box-shadow:none;
   
}
.nav-regular{
    margin: 0 10px;
}